{{#if @site.cover_image}}
    <div class="site-cover u-overlay">
        <img class="cover-image lazyload jarallax-img u-object-fit"
            data-src="{{img_url @site.cover_image}}"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            alt="{{@site.title}}">
        <div class="cover-content">
            {{#if @site.description}}
                <div class="cover-description">{{@site.description}}</div>
            {{/if}}
            {{#if @custom.content_api_key_for_search}}
                {{> search}}
            {{/if}}
        </div>
    </div>
{{/if}}