<footer class="site-footer">
  {{#if @site.navigation}}
    <nav class="footer-menu">
      {{navigation}}
    </nav>
  {{/if}}
  <div class="footer-social"></div>
  <div class="copyright"></div>
</footer>