<header class="site-header kg-width-full">
  <div class="container">
    <div class="navbar">
      <div class="navbar-left">
        <div class="burger hidden-lg hidden-xl"></div>
        {{> logo}}
        <div class="sep hidden-xs hidden-sm hidden-sm"></div>
      </div>
      <div class="navbar-right">
        {{#if @site.navigation}}
          <nav class="main-menu hidden-xs hidden-sm hidden-md">
            {{navigation}}
          </nav>
        {{/if}}
      </div>
    </div>
  </div>
</header>