<article class="{{post_class}} u-hover-item">
  <a class="post-link u-permalink" href="{{url}}"></a>
  {{> post-header tag="h2"}}
  <div class="post-excerpt">
    {{excerpt words="30"}}
  </div>
</article>