<article class="{{post_class}}">
  <a class="post-link u-permalink" href="{{url}}"></a>
  {{> post-header show_author=true}}
  {{!-- {{> post-author show_author=true}} --}}
  <div class="post-excerpt">
    {{excerpt words="30"}}
  </div>
</article>