<div class="mobile-menu hidden-lg hidden-xl">
    <div class="container">
        {{#if @site.navigation}}
            <nav class="mobile-nav">
                {{navigation}}
            </nav>
        {{/if}}
    </div>
</div>