{{#if @labs.members}}
  <div class="notification notification-subscribe">
    You've successfully subscribed to {{@site.title}}.
    <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
  </div>

  <div class="notification notification-signup">
    Great! Next, complete checkout for full access to {{@site.title}}.
    <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
  </div>

  <div class="notification notification-signin">
    Welcome back! You've successfully signed in.
    <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
  </div>

  <div class="notification notification-checkout">
    Success! Your account is fully activated, you now have access to all content.
    <button class="button-icon notification-close"><i class="icon icon-window-close"></i></button>
  </div>
{{/if}}