<div class="pagination-container gh-canvas">
<nav class="pagination">

    <div class="pagination-left">
        {{#if prev}}
            <a class="newer-posts" href="{{page_url prev}}">← Previous</a>
        {{/if}}
    </div>

    {{#match pages "!=" 1}}
        <span class="page-number hidden-xs hidden-sm">Page {{page}} of {{pages}}</span>
    {{/match}}

    <div class="pagination-right">
        {{#if next}}
            <a class="older-posts" href="{{page_url next}}">Next →</a>
        {{/if}}
    </div>

</nav>
</div>