{{#get "posts" limit="3" filter="tags:[{{post.tags}}]+id:-{{post.id}}" include="tags,authors" as |related|}}
  <section class="related-posts">
    <h3 class="related-title"><span class="text">{{t 'Related Articles'}}</span></h3>
    <div class="post-feed">
      {{#foreach related}}
        {{> loop}}
      {{/foreach}}
    </div>
  </section>
{{/get}}