<div class="search">
    <form class="search-form">
        <div class="form-wrapper">
            <input class="search-field" type="text" placeholder="Search...">
            <button class="form-button search-button" type="submit">
                {{> loader}}
            </button>
        </div>
    </form>
    <div class="search-result"></div>
</div>