.featured-wrapper {
  margin: 30px 0 90px;

  .owl-item {
    &:extend(.u-hover-item);
  }

  .owl-stage:hover .owl-item {
    &:extend(.u-hover-wrapper:hover .u-hover-item all);
  }

  .post-media {
    margin-bottom: 30px;
  }

  .post-header {
    margin-bottom: 30px;
  }

  .post-tag {
    margin: 0;
  }
}

.featured-header {
  margin-bottom: 45px;
}

.featured-title {
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .featured-wrapper {
    margin-bottom: 30px;
    margin-top: 0;

    .post-header {
      margin-bottom: 15px;
    }

    .owl .owl-prev,
    .owl .owl-next {
      top: -71px;
    }
  }

  .featured-header {
    margin-bottom: 30px;
  }
}