.featured-posts {
  margin: 30px 0 90px;

  .post-media {
    margin-bottom: 30px;
  }

  .post-header {
    margin-bottom: 30px;
  }

  .post-tag {
    margin: 0;
  }
}

.featured-header {
  margin-bottom: 45px;
}

.featured-title {
  color: var(--primary-color);
}

@media (max-width: 767px) {
  .featured-posts {
    margin-bottom: 30px;
    margin-top: 0;

    .post {
      margin-bottom: 30px;
    }

    .post-header {
      margin-bottom: 15px;
    }
  }

  .featured-header {
    margin-bottom: 30px;
  }
}