.u-plain-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.u-object-fit {
  height: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.u-permalink {
  bottom: 0;
  left: 0;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 50;
}

.u-placeholder {
  background-color: var(--light-gray-color);
  position: relative;
  z-index: 10;
}

.u-placeholder.same-height {
  height: 0;
}

.u-placeholder.horizontal {
  padding-bottom: 50%;
}

.u-placeholder.rectangle {
  padding-bottom: 62.5%;
}

.u-placeholder.square {
  padding-bottom: 100%;
}

.u-overlay {
  position: relative;
}

.u-overlay::before {
  background-color: var(--black-color);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 1s var(--animation-base);
  z-index: 10;
}

.u-overlay.initialized::before {
  opacity: 0.4;
}

.u-hover-item {
  transition: opacity 0.2s var(--animation-base);
}

.u-hover-wrapper:hover .u-hover-item {
  opacity: 0.5;
}

.u-hover-wrapper:hover .u-hover-item:hover {
  opacity: 1;
}

.u-text-format h1,
.u-text-format h2,
.u-text-format h3,
.u-text-format h4,
.u-text-format h5,
.u-text-format h6 {
  font-weight: 800;
  margin-top: 40px;
}

.u-text-format h1 {
  font-size: 26px;
}

.u-text-format h2 {
  font-size: 23px;
}

.u-text-format h3 {
  font-size: 20px;
}

.u-text-format h4 {
  font-size: 17px;
  font-weight: 700;
}

.u-text-format h5 {
  font-size: 15px;
  font-weight: 700;
}

.u-text-format h6 {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.u-text-format strong {
  color: var(--dark-gray-color);
}

.u-text-format a {
  color: var(--primary-color);
}

.u-text-format a:hover {
  text-decoration: underline;
}
