{{!< default}}

<div class="content-area">
  <main class="site-main">
    <div class="error">
      <div class="error-code">{{code}}</div>
      <div class="error-message">{{message}}.</div>
      <a class="error-link button-arrow button-arrow-right" href="{{@site.url}}">{{{t 'Go to the front page {arrow}' arrow='<i class="button-arrow-icon icon icon-arrow-right"></i>'}}}</a>
    </div>
  </main>
</div>