{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="error">
            <div class="error-code">{{statusCode}}</div>
            <div class="error-message">{{message}}.</div>
            <a class="error-link button-arrow button-arrow-right"
                href="{{@site.url}}">Go to the front page</a>
        </div>
    </main>
</div>