{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} single">
                {{> post-header tag="h1" hide_meta=true single=true}}
                {{> post-media same_height=false with_caption=true}}
                <div class="post-content gh-content kg-canvas">
                    {{content}}
                </div>
            </article>
        {{/post}}
    </main>
</div>