{{!< default}}

<div class="content-area">
  <main class="site-main kg-width-normal">
    {{#post}}
      <article class="{{post_class}} single">
        {{> post-header tag="h1" hide_meta=true}}
        {{> post-media same_height=true ratio="horizontal"}}
        <div class="post-content u-text-format">
          {{content}}
        </div>
      </article>
    {{/post}}
  </main>
</div>