{{!< default}}

<div class="content-area">
    <main class="site-main">
        {{#post}}
            <article class="{{post_class}} single">
                {{> post-header tag="h1" show_meta=true single=true}}
                {{> post-media same_height=false with_caption=true}}
                <div class="post-content kg-canvas u-text-format">
                    {{content}}
                </div>
                {{> post-tags}}
            </article>
        {{/post}}
        {{> related}}
        {{> comment}}
    </main>
</div>