.account {
  border: 1px solid var(--mid-gray-color);
  border-radius: 3px;
  display: flex;
  margin: 0 auto;
  max-width: 500px;
  padding: 25px 30px;
}

.account-row {
  align-items: center;
  display: flex;
}

.account-row + .account-row {
  margin-top: 15px;
}

.account-row-action {
  margin-top: 30px !important;
}

.account-row-action .button + .button {
  margin-left: 10px;
}

.account-heading {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0;
  width: 80px;
}

.account-body {
  line-height: 1.3;
}

.account-row-status .account-body {
  border-radius: 3px;
  color: var(--white-color);
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: 1;
  padding: 5px 8px;
  text-transform: uppercase;
  vertical-align: middle;
}

.account-row-status .account-body.active {
  background-color: var(--green-color);
}

.account-row-status .account-body.trialing {
  background-color: var(--orange-color);
  color: var(--primary-text-color);
}

.account-row-status .account-body.free {
  background-color: var(--dark-gray-color);
}

.account-row-cancel {
  margin-top: 20px !important;
}

.account-cancel {
  color: var(--red-color);
  font-size: 14px;
  font-weight: 700;
}

.account-cancel-error {
  display: block;
  font-size: 13px;
  margin-top: 3px;
}

.account-row-cancel + .account-row-status {
  border-top: 1px solid var(--mid-gray-color);
  margin-top: 20px;
  padding-top: 20px;
}

@media (max-width: 767px) {
  .account {
    flex-direction: column;
  }

  .account-row {
    align-items: flex-start;
    flex-direction: column;
  }

  .account-heading {
    margin-bottom: 5px;
  }

  .account-row-action .button {
    width: 100%;
  }

  .account-row-action .button + .button {
    margin-left: 0;
    margin-top: 10px;
  }
}
