.page-heading {
  font-size: 30px;
  margin-bottom: 10px;
}

.page-subheading {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.page-header {
  margin: 0 auto 45px;
  max-width: 500px;
  text-align: center;
}
