.subscribe {
  background-color: var(--light-gray-color);
  margin-top: 60px;
  padding: 60px 0;
  text-align: center;
}
.site-content + .subscribe {
  margin-top: 0;
}
.subscribe-wrapper {
  margin: 0 auto;
  max-width: 500px;
}
.subscribe-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.subscribe-subtitle {
  color: var(--secondary-text-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.subscribe-form {
  margin-top: 30px;
  position: relative;
}
.success .subscribe-email,
.success .subscribe-email:focus {
  border-color: var(--green-color);
}
.error .subscribe-email,
.error .subscribe-email:focus {
  border-color: var(--red-color);
}
.success .form-button {
  background-color: var(--green-color);
}
.error .form-button {
  background-color: var(--red-color);
}
.loading .form-button:after {
  display: none;
}
.loading .form-button svg {
  display: block;
}
.subscribe-description {
  font-size: 14px;
  margin-top: 10px;
}
.subscribe-message {
  display: block;
  font-size: 14px;
  margin-top: 15px;
}
.subscribe-message-link {
  color: var(--primary-color);
  text-decoration: underline;
}
.page-members .subscribe {
  background-color: var(--white-color);
  margin-top: 0;
}
.page-members .site-content + .subscribe {
  display: none;
}
