.site-footer {
  padding: 45px 0;
  text-align: center;
}

.footer-social-item {
  margin: 0 5px;
}

.copyright {
  color: @secondary-text-color;
  font-size: 14px;
  margin-top: 5px;

  a {
    color: @secondary-text-color;
    text-decoration: underline;
  }
}