{{!< ../default}}

<div class="content-area">
  <main class="site-main">
    {{#if @member}}
      <script>window.location = '{{@site.url}}';</script>
    {{else}}
      {{> subscribe footer=true login=true}}
    {{/if}}
  </main>
</div>

{{#contentFor "body_class"}}page-members{{/contentFor}}